.main-chat
  .chat
    .chat__name
      .ul
        = @group.name
        .li
          ="Member:" + @group.users.pluck(:name).join(" ")
    .chat__edit
      = link_to edit_group_path(current_user) do 
        = "Edit"

  .messages
    = render @messages

    
  .form
    .form__textbox
      .ul-content 
        = form_for [@group, @message] do |f|
          = f.text_field :body, class: 'ul-content__text', placeholder: 'type a message'
          = f.label :image, class: "ul-content__text__image" do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'ul-content__text__image__file'
          .ul-submit   
          = f.submit 'Send', class: 'ul-submit'
         