.side_bar
  .user
    .user__name
      = current_user.name
    .user__font
      = link_to new_group_path do
        = icon('fas', 'edit', class: "user__icon")
        %span<>
      = link_to edit_user_path(current_user) do
        = icon('fas', 'cog', class: "user__icon")
        %span<>

        
  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__group
        = link_to '#' do
          .side-bar__group-listg__group__name
            = group.name
          .side-bar__group-list__group__message 
            メッセージはまだありません
    

